@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
html, body {
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(35%, #030202), to(#090808));
  background: linear-gradient(90deg, black 0%, #030202 35%, #090808 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#090808",GradientType=1);
  color: #dfd7d7 !important;
  overflow-x: hidden;
  font-family: 'Gugi', cursive !important;
}

.slides {
  border: solid 0.5px #3a3939;
  padding: 0 !important;
}

.sile-margin {
  margin: 0% 10% 10% 10%;
}

.sile-padding {
  padding: 5% 10% 10% 10%;
}

.boxsizing {
  width: 100% !important;
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
  resize: none;
  outline: none;
  font-size: x-large;
  color: #dfd7d7 !important;
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(35%, #030202), to(#090808));
  background: linear-gradient(90deg, black 0%, #030202 35%, #090808 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#090808",GradientType=1);
}

@media only screen and (min-width: 320px) {
  .boxsizing {
    font-size: 1.2em !important;
  }
}

.user-img {
  max-width: 50px;
}

.cards {
  padding: 25px;
}

.card-border {
  border-bottom: solid 0.5px #3a3939;
  padding: 25px;
}

.card-submenu {
  padding: 15px 0 0 0;
}

#tw-btn {
  right: 0;
}

.fa-st-icons {
  min-height: 40px !important;
  text-decoration: none !important;
  min-width: 40px;
  color: white;
  font-size: 1.5em;
}

.fa-st-icons:hover {
  background-color: #f7f2f2;
  color: black;
}

.fa {
  margin: 5px !important;
  text-align: center;
  font-size: 1.6em;
}

.crd-label {
  width: 100%;
}

.count {
  max-width: 40px;
  outline: none !important;
  text-decoration: none;
  border: none;
  border-style: none;
  width: auto !important;
  -webkit-appearance: none;
  margin: 0;
}

.fa-tw-icons {
  min-height: 25px !important;
  text-decoration: none !important;
  outline: none !important;
  min-width: 40px;
  color: white;
}

.fa-tw-icons:hover :focus :active {
  color: white;
}

#error {
  color: #a04141;
}

.userId {
  font-size: small;
  color: #6b6b6b !important;
}

.userName {
  font-size: middle;
  color: #919090 !important;
}

.subscrollind {
  overflow-y: scroll !important;
  scrollbar-width: none !important;
  /* Firefox */
  -ms-overflow-style: none !important;
  /* Internet Explorer 10+ */
}

.subscrollind::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.justify-forced {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.navbar-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.tw-ul {
  list-style: none;
  font-size: 1.5em;
}

.tw-ul li {
  margin-top: 25px;
}

.tw-ul li > a {
  color: #dfd7d7 !important;
  text-decoration: none !important;
  outline: none !important;
}

.tw-ul li > a:hover {
  text-decoration: none !important;
  color: white !important;
}

.fa-ul {
  font-size: 1.2em !important;
  padding-top: 5px;
}

.news-card {
  margin: 10%;
  padding: 5%;
  background-color: black;
  border-radius: 15px;
  min-height: 150px;
  opacity: 0.80;
}

.news-card ul > li {
  margin-top: 1%;
  text-decoration: none !important;
  list-style: none;
}

.news-card a {
  text-decoration: none !important;
  color: white !important;
}

.news-card a:hover {
  background-color: #f7f2f2;
  color: black !important;
}
/*# sourceMappingURL=styles.css.map */